/*************** Common *****************/

:root {
    --sdnote-color: #ffffff;
    --sdnote-bg-color: #2EB7B4;
    --sdnote-border-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
}

h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

textarea {
    font-size: 1rem;
    line-height: 1.25rem;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.mt-32 {
    margin-top: 2rem !important;
}

.mt-64 {
    margin-top: 4rem !important;
}

.btn {
    background-color: #374A8D;
    min-width: 200px;
    padding: 0.7rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    letter-spacing: 0.05em;
}

.btn:hover {
    color: white;
    box-shadow: 0px 0px 2px 4px rgba(55, 74, 141, 0.75);
}

input[type="number"],
textarea[disabled] {
    background-color: inherit;
    border: 1px solid #a4a4a4;
}

input[disabled] + label,
textarea[disabled] + label {
    color: #a4a4a4 !important;
    transition: 0.2s;
} 

/* Horizontal lines on titles */

.hl, .hl_short {
    position: relative;
}

.hl:after,
.hl_short:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #DADADA;
    top: 77px;
}

.hl_short:after {
    background-color: #374A8D;
    z-index: 100;
    left: 0px;
    height: 3px;
    top: 76px;
}

/* Title tool tip */

.main-tooltip {
    position: relative;
}

.main-tooltip:after {
    position: absolute;
    content: "";
    background: url(../img/tooltip.svg);
    width: 22px;
    height: 22px;
    top: 5px;
    right: 0px;
}

/* Gray border */

.main_border {
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 24px 30px;
}

/* Textareas and inputs */

.textarea_big {
    border-color: #374A8D;
    border-radius: 4px;
    resize: none;
    height: 70px;
    width: 100%;
    padding-left: 0.5rem;
    display: block;
}

.textarea_code {
    display: none;
}

.textarea_big:focus,
.main-input:focus {
    box-shadow: 0px 0px 1px 1px #374A8D;
    outline: none;
    transition: 0.3s;
}

.main-input {
    border: 1px solid #374A8D;
    border-radius: 4px;
    width: 100%;
    padding-left: 0.5rem;
}

.main-input_color {
    width: 22px;
    height: 23px;
    margin-left: 8px;
    border: none;
}

/************* Main section *************/

.main-options_wrp {
    min-height: 600px;
}

.main-options-left,
.main-options-right {
    max-width: 310px;
    min-width: 310px;
}

.main-input_color {
    position: relative;
}

.main-input_color:after {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: 0px;
    left: 0px;
    border: 1px solid #DADADA;
}

.main-input_bg-color:after {background-color: var(--sdnote-bg-color);}
.main-input_sd-color:after {background-color: var(--sdnote-color);}
.main-input_border-color:after {background-color: var(--sdnote-border-color);}

.main-options_color-wrp  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
}

.main-options-left_bottom-wrp {
    margin-top: 70px;
}

.bubble_wrp {
    display: flex;
    flex-direction: column;
}

/* Checkbox fixes */

.custom-control-input:checked~.custom-control-label::before {
    border-color: #374A8D;
    background-color: #374A8D;
    width: 22px;
    height: 22px;
}

.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    width: 22px;
    height: 22px;
}

/********** Sidenote default ***********/

.sidenote {
    background-color: #2EB7B4;
    text-align: center;
    color: white;
    max-width: 277px;
    font-size: 14px;
    line-height: 20px;
    transition: 0.2s;
    border-style: solid;
    padding: 2px;
}

.blured:hover {
    filter: blur(1px);
    box-shadow: 0 0 10px 3px var(--sdnote-bg-color);
    transition: 0.2s;
}

.shining {
    background: linear-gradient(90deg, var(--sdnote-bg-color) 70%, rgba(89,187,193,1) 75%, var(--sdnote-bg-color) 100%);
    background-size: 300% 100%;
    transition: 0.6s;
}

.shining:hover {
    background-position: 200% 0;
    transition: 1s;
}

/* Tooltip */

.sidenote-tooltip_wrp {
    position: relative;
}

.sidenote-tooltip_wrp .tooltiptext {
    visibility: hidden;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 125px;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidenote-tooltip_wrp .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.sidenote-tooltip_wrp:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.main-options_input-wrp .tooltiptext {
    left: 92%;
    line-height: 18px;
}

#copyInput:hover {
    cursor: pointer;
}

#copyInput {
    border: none;
    width: 72px;
    background-color: transparent;
    color: #ffffff;
}

#copyInput:focus {
    outline: none
}

/********** Result *********/

.result-sidenote,
.result-source {
    height: 550px;
    overflow-y: scroll;
}

.result__title:after {
    top: 54px;
}

.result:after {
    top: 55px;
}

.sourcecode {
    font-size: 16px;
    line-height: 20px;
}

.buttons-group {
    display: flex;
    justify-content: flex-end;
}

.btn_back {
    background-color: #ffffff;
    color: #374A8D;
    border: 2px solid #374A8D;
    font-weight: bold;
}

.btn_back:hover {
    color: #374A8D;
}

.virtual-textarea {
    position: absolute;
    left: -9999px;
}

/******** Footer ********/

.footer {
    background-color: #DADADA;
    color: #5E5E5E;
    height: 80px;
    font-weight: bold;
}

.footer-contacts__link {
    background: url(../img/gh.svg);
    width: 32px;
    height: 32px;
    display: inline-block;
    filter: opacity(0.5) grayscale(1);
    transition: 0.2s;
}

.footer-contacts__link:hover {
    transition: 0.2s;
    filter: opacity(1) grayscale(0);
}

.footer-contacts__link + .footer-contacts__link {
    margin-left: 16px;
}

.codepen {background: url(../img/cp.svg);}
.footer-contacts__link.mail {
    background: url(../img/mail.svg) no-repeat;
    margin-left: 18px;
}